@import 'normalize.css';

:root {
    --default-header-height: 60px;
    --content-width: 1150px;
    --sidebar-width: 356px;
    --light-btn-color: rgba(167, 167, 171, 1);
    --primary: rgba(254, 44, 85, 1);
    --searchBar-width: 361px;
    --text-color: #50525a;
    --white: rgba(255, 255, 255, 1);
    --black: rgb(24, 24, 24);
    --font-family: ProximaNova, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    scroll-behavior: smooth;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

a[href] {
    color: black;
    text-decoration: none;
}

// Tippy Customization
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.3rem;
        border-radius: 8px;
        font-weight: 500;
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

// Fonts embeded
@font-face {
    font-family: ProximaNova;
    src: url(../../assets/fonts/Proxima-Nova-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url(../../assets/fonts/Proxima-Nova-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(../../assets/fonts/Proxima-Nova-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: SofiaPro;
    src: url(../../assets/fonts/sofiapro-bold.woff2);
    font-weight: 700;
}
