// Search Bar
.wrapper,
.results {
    width: var(--searchBar-width);
}

.results {
    overflow: hidden auto;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.wrapper {
    height: 46px;
    background-color: rgba(241, 241, 242, 1);
    padding-left: 16px;
    border-radius: 92px;
    border: 1px solid transparent;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.inner {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 92px;

    input {
        background: transparent;
        padding: 12px 0;
        font-size: 1.3rem;
        flex: 1;
        caret-color: var(--primary);
        font-family: var(--font-family);
        font-weight: 500;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    input:not(:placeholder-shown) ~ .clear-btn {
        display: flex;
    }

    span {
        width: 1px;
        height: 60%;
        background-color: #ccc;
        margin: -3px 0;
    }
}

.search-btn {
    width: 52px;
    padding: 11px 16px 11px 12px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    color: var(--light-btn-color);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.title {
    padding: 5px 12px;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
}

.clear-btn {
    color: var(--light-btn-color);
    cursor: default;

    svg {
        margin: 0 12px;
        height: 100%;
    }
}

.loading-icon {
    margin: 0 12px;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
